<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%-defineContent('pageTitle')%></title>
  <meta name="description" content="Conclave" />
  <meta name="author" content="Kevin Isom" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css" />
  <style type="text/css">
    body {
      padding: 50px;
    }
  </style>
</head>

<body>
  <%- body %>
  <script src="/js/bundle.js"></script>
  <%-defineContent('footer')%>
</body>
</html>
