<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%-defineContent('pageTitle')%></title>
  <meta name="description" content="Conclave">
  <meta name="author" content="Kevin Isom">

</head>

<body>
  <%- body %>
  <%-defineContent('footer')%>
</body>
</html>
