
<div class="columns">
  <div class="column is-4 content">
    <h1>Login to use Conclave</h1>
    <form method="POST">
      <label class="label">Email</label>
      <p class="control has-icon has-icon-right">
        <input class="input is-success" type="email" placeholder="Email" value="">
      </p>
      <label class="label">Password</label>
      <p class="control has-icon has-icon-right">
        <input class="input is-danger" type="password" name="password" placeholder="Password" value="">
      </p>
      <p class="control">
        <button class="button is-primary">Submit</button>
        <button class="button is-link">Cancel</button>
      </p>
    </form>
  </div>
</div>

<%- contentFor('pageTitle') %>
<%= title %>
