<div>
  <h2>{{title}}</h2>
  <section>
    <table>
      <thead>
        <tr>
          <th>Authentication and Authorization</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="/admin/users/groups">Groups</a>
          </td>
        </tr>
        <tr>
          <td><a href="/admin/users">Users</a></td>
        </tr>
        <tr>
          <td><a href="/admin/sessions">Sessions</a></td>
        </tr>
      </tbody>
    </table>

  </section>
  <!-- The apps -->
  {{#each apps}}
  <section>
    <table>
      <thead>
        <tr>
          <th>{{APP_NAME}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each MODEL_DETAILS }}
        <tr>
          <td><a href="/admin/view/{{app}}/{{collection}}">{{name}}</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </section>
  {{/each}}
</div>